body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: darkslategray;
    padding: 20px;
    color: #000000;
}

ul {
list-style-type: none;
}

h1 {
    text-align: right;
    color: bisque;
    font-weight: lighter;
    font-size: 30px;
}

.post {
    background-color: bisque;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 7px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease-in-out;
}

.post:hover {
    box-shadow: 5px 5px 5px darksalmon;
}

.post h3 {
    margin-top: 0;
    color: darkslategray;
    font-weight: bold;
    cursor:help;
    animation: colorChange 15s infinite alternate;
}

@keyframes colorChange {
    25% {
        color: grey;
    }
    50% {
        color: darksalmon;
    }
    100% {
        color: cornsilk;
    }
}

.post h3:hover {
    color: darksalmon;

}

.post p {
    margin: 10px 0;
    color: #000000;
}

.fixed-link {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.fixed-link a {
    color: darksalmon;
    text-decoration: none;
    font-weight: normal;
    font-size:20px;
}

.fixed-link a:hover {
    color: darkslategray;
    text-decoration: overline;
    cursor: default;
}

.delete-button {
    color: darkslategray;
    background-color: bisque;
    border-radius: 5px;
}

.delete-button:hover {
    color: darksalmon;
}

.update-button {
    text-decoration: none;
    color: darksalmon;
    background-color: bisque;
    border-radius: 5px;
}

.update-button:hover {
    color: darkslategray;
    cursor: default;
}