body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: darkslategray;
    padding: 20px;
    color: #000000;
}

ul {
list-style-type: none;
}

h1 {
    text-align: right;
    color: bisque;
    font-weight: lighter;
    font-size: 30px;
}

.post {
    background-color: bisque;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.post h3 {
    margin-top: 0;
    color: darkslategray;
    font-weight: bold;
    cursor:help;
}

.post h3:hover {
    color: darksalmon;

}

.post p {
    margin: 10px 0;
    color: #000000;
}
