body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: darkslategray;
    padding: 20px;
    color: #FFFFFF;
}

h1 {
    text-align: right;
    color: bisque;
    font-weight: lighter;
    font-size: 30px;
    margin-bottom: 50px;
}

/* Styling for the form */
form {
    background-color: bisque;
    padding: 10px;
    border-radius: 8px;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease-in-out;
}

form:hover {
    box-shadow: 5px 5px 5px darksalmon;
}

.form-group {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

/* Styling for form labels */
form label {
    font-weight: bold;
    color: darkslategray;
    margin-bottom: 5px;
}

/* Styling for form inputs */
form input[type="text"], form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 10px 15px 10px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-sizing: border-box; /* ensures the calculated width respects the padding and border, keeping the layout consistent */
}

.form-submit {
    display: flex;
    justify-content: flex-end;
}

/* Styling for the submit button */
form input[type="submit"] {
    background-color: darkslategray;
    color: bisque;
    border: none;
    padding: 10px 20px;
    cursor: crosshair;
    border-radius: 4px;
    font-size: 16px;
}

form input[type="submit"]:hover {
    background-color: #555555;
}

.fixed-link {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.fixed-link a {
    color: bisque;
    text-decoration: none;
    font-weight: normal;
    font-size: 20px;
}

.fixed-link a:hover {
    color: darksalmon;
    text-decoration: overline;
    cursor: default;
}