<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>not for faint-hearted blog post</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_index.css') }}">
    <script>
        function confirmDelete() {
            return confirm('Do you really want to delete this baby?');
        }
    </script>
</head>
<body>
    <h1><small>You're almost</small> <strong>welcome</strong> <em>here</em></h1>
    <div class="fixed-link">
        <a href="/add">click at your own risk, hunny, to add a new post ;)</a>
    </div>
    <ul>
    {% for post in posts %}
    <li>
    <div class="post">
        <h3>{{ post.title }}</h3>
        <!-- Update button -->
            <!-- Clicking the "Update" button takes the user to a new page where they can edit the blog post.
            This is a navigation action, it just needs to direct the user to a new URL (the update route).-->
            <a href="{{ url_for('update', post_id=post.id) }}" class="update-button" >update</a>
        <p>Author: <em><strong>{{ post.author }}</strong></em> </p>
        <p><small>{{ post.content }}</small></p>

        <!-- Delete button -->
            <!-- below is a Jinja2 template expression that dynamically generates the URL for the delete route,
            including the post_id of the specific post to be deleted. and is a Flask function that generates the URL
            for the delete route, substituting post_id with the actual ID of the current post. !-->
            <form action="{{ url_for('delete', post_id=post.id) }}" method="post" onsubmit="return confirmDelete();">
            <button class="delete-button" type="submit">delete</button>
            </form>
    </div>
    </li>
    {% endfor %}
    </ul>

</body>
</html>
