<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>update a post with songs in your head </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_update.css') }}">
</head>
<body>
    <h1><strong>Update</strong> <small>(the shit out of it)</small>, if you have to</h1>

    <form action="{{ url_for('update', post_id=post['id']) }}" method='POST'>
        <div class="form-group">
            <label for="author">Author:</label><br><br>
            <input type="text" id="author" name="author" value="{{ post.author }}">
        </div>

        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" name="title" id="title" value="{{ post.title }}"><br><br>
        </div>

        <div class="form-group">
            <label for="content">Content:</label>
            <textarea name="content" id="content" rows="5" cols="40">{{ post.content }}</textarea><br><br>
        </div>

        <div class="form-submit">
            <input type="submit" value="update">
        </div>
    </form>
    <div class="fixed-link">
        <a href="/">go back to where you came from, home?</a>
    </div>
</body>
</html>